/* Variables */
:root {

  --margin-width: 20%;
  --margin-width-XL: 30%;
  --color-scheme-dark-blue: #03045e;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}



/* --- NavBar ---*/
.navbar-brand {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  display: inline;
}

.customNav {
  background-color: silver;
  border-bottom: 2px solid var(--color-scheme-dark-blue);
}

.btn {
  border: 1px solid white;
}

.btn:hover {
  box-shadow: 2px 4px black;
}

/* --- Jumbotron ---*/

.jumbotron-fluid {
  background-color: #8ecae6;
  color: #023e8a;
  border-top:2px solid #023e8a;
  border-bottom: 2px solid #023e8a;
}

.display-1 {
  font-style: bold; 
}


/* --- About Me ---*/ 

#about-me {
  margin-left: var(--margin-width);
}

.header-aboutme {
  display: block;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  margin-right: 5%;
  border-left: 2px solid black;
}

.aboutme-bio {
  display: flex;
}

.aboutme-picture {
  display: flex;
  border: 2px solid black;
}

hr {
  border: 1rem solid #8ecae6;
  border-radius: 20px;
  margin-left: 20%;
}

/* --- Projects --- */

#my-projects {
  margin-left: var(--margin-width-XL);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2, 1fr;
  gap: 1rem;
  grid-template-areas:
  
      "item1 item2" 
      "item3 item4"
      
}

.grid-item1 {
grid-area: item1;
}

.grid-item2 {
  grid-area: item2;
}

.grid-item3 {
  grid-area: item3;
}

.grid-item4 {
  grid-area: item4;
}


/* --- Skills --- */

#skills-section {
  margin-left: var(--margin-width);
  margin-bottom: 5%;
}


.skills-learnt, .skills-tolearn {
  margin-bottom: 5%;
}


/* --- Contact Me ---*/

#contact-me {
  text-align: left;
  margin-left: 0% !important;
} 

.fab:hover , .fa:hover {
  color: var(--color-scheme-dark-blue);
}

.fa-free-code-camp:hover {
  color: white !important;
}

footer {
  margin-left: var(--margin-width);
  text-align: left;
}